body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main {
    flex: 1 1 auto;
    padding-top: 100px;

    &>* {
        background-color: #F3F1F0;
        z-index: 2;
        position: relative;
    }
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "DexaPro", sans-serif;
    background: #F3F1F0;
    line-height: 150%;
    color: $neutral900;

    &.hidden {
        overflow: hidden;
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1444px;
    }
}

.row:not(.g-0) {
    margin-left: -10px;
    margin-right: -10px;

    &>* {
        padding-left: 10px;
        padding-right: 10px;
    }
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    color: $neutral900;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 60px;

    &.white {
        color: #F3F1F0;
    }
}

h3 {
    color: $neutral70;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;

    &.white {
        color: #F3F1F0;
    }
}

.dark-bg {
    background-color: $neutral900;
}

.grey-bg {
    background: $neutral30;
}

.white-bg {
    background: #fff;
}

.orange-text {
    color: $accentmain;
}

section {
    padding: 130px 0;
}

.p0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.contact-link {}

.posrel {
    position: relative;
}




.circle-animation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;

    svg {
        width: 100%;
        transition: 0.5s;

        path,
        rect {
            transition: 0.3s;
        }
    }

    .calculate__icons {
        display: flex;
        width: 28px;
        height: 28px;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        color: inherit;
        overflow: hidden;
    }

    .default-ic {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 1;
        transform: translate(0, 0);
    }

    .hover-ic {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

a:hover,
button:hover {
    .circle-animation {
        .default-ic {
            opacity: 0;
            transform: translate(100%, -100%);
            transition: transform 0.3s, opacity 0.3s;
        }

        .hover-ic {
            opacity: 1;
            transform: translate(0, -100%);
            transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
        }

        svg {
            transform: rotate(-360deg);

            path,
            rect {
                fill: $accent80
            }
        }
    }



}

a.white:hover,
button.white:hover {
    .circle-animation {
        svg {
            transform: rotate(-360deg);

            path {
                fill: #fff;
            }
        }
    }
}

.linkarr-anim {
    display: flex;
    width: 28px;
    height: 28px;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    color: inherit;
    overflow: hidden;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    svg {
        width: 100%;
        transition: 0.5s;

        path,
        rect {
            transition: 0.3s;
        }
    }

    .default-ic {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 1;
        transform: translate(0, 0);
    }

    .hover-ic {
        transition: transform 0.3s, opacity 0.3s;
        opacity: 0;
        transform: translate(-100%, 0);
    }
}

a:hover {
    .default-ic {
        opacity: 0;
        transform: translate(100%, -100%);
        transition: transform 0.3s, opacity 0.3s;
    }

    .hover-ic {
        opacity: 1;
        transform: translate(0, -100%);
        transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
    }

    .default-ic svg,
    .hover-ic svg {
        transform: rotate(-360deg);

        path,
        rect {
            fill: $accent80
        }
    }
}

.showmorebtn {
    color: $neutral900;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    text-decoration: none;
    padding-right: 66px;
    text-transform: uppercase;

    .btnicon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .btnstatus {
        display: inline-block;
        width: 28px;
        height: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 2px;
            background: $accentmain;
            position: absolute;
            border-radius: 10px;
            transition: 0.5s;
        }

        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &.active {
        .btnstatus {

            &::after,
            &::before {
                background: $accentmain;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(0);
            }
        }

        .num {
            color: $accentmain;
        }
    }
}

.plusbtn {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;

    .btnstatus {
        display: inline-block;
        width: 28px;
        height: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 2px;
            background: $accentmain;
            position: absolute;
            border-radius: 10px;
            transition: 0.5s;
        }

        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &.active {
        .btnstatus {

            &::after,
            &::before {
                background: $accentmain;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(0);
            }
        }

        .num {
            color: $accentmain;
        }
    }
}




@media(max-width:1499.8px) {
    h2 {
        font-size: 42px;
        margin-bottom: 40px;
    }
}

@media(max-width:1399.8px) {
    h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    section {
        padding: 100px 0;
    }
}

@media(max-width:1199.8px) {
    h2 {
        font-size: 32px;
    }
}

@media(max-width:991.8px) {
    h2 {
        font-size: 36px;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-start {
        text-align: left;
    }
}

@media(max-width:767.8px) {
    h2 {
        font-size: 32px;

        br {
            display: none;
        }
    }

    section {
        padding: 70px 0;
    }
}


@media(max-width:575.8px) {
    h2 {
        font-size: 28px;
    }

    .circle-animation {
        width: 40px;
        height: 40px;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    .circle-animation .calculate__icons {
        width: 18px;
        height: 18px;
    }



}







// text animation
.word {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

}

// .char {
//     display: inline-block;
//     transform: translateY(110%);
//     transition: transform 3s cubic-bezier(0.16, 1, 0.3, 1);
// }

// .char.is-visible {
//     transform: translateY(0);
// }


.reveal-title {
    overflow: hidden;
}

.reveal-title.in-view .char {
    transform: translateY(0);
}

.reveal-title .char {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 3s cubic-bezier(0.16, 1, 0.3, 1);
    /* без --char-index - всі букви одночасно */
}











// img animation
.has-animation {
    position: relative;
}

.has-animation p,
.has-animation img,
.has-animation video {
    opacity: 0;
}

.has-animation.animate-in p,
.has-animation.animate-in img,
.has-animation.animate-in video {
    animation: textHidden 0.1s 1.1s forwards;
}

.has-animation.animate-in:before,
.has-animation.animate-in:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
}

.has-animation.animate-in:before {
    background-color: #1d1d1d;
}

.has-animation.animate-in:after {
    background-color: #FC4C01;
    animation-delay: 0.5s;
}

.has-animation.animation-btt.animate-in:before,
.has-animation.animation-btt.animate-in:after {
    bottom: 0;
}

.has-animation.animation-btt.animate-in:before {
    animation: revealBTU 1.8s ease;
}

.has-animation.animation-btt.animate-in:after {
    animation: revealBTU 1s 0.6s ease;
}

.has-animation.animation-ttb.animate-in:before,
.has-animation.animation-ttb.animate-in:after {
    top: 0;
}

.has-animation.animation-ttb.animate-in:before {
    animation: revealTTB 1.8s ease;
}

.has-animation.animation-ttb.animate-in:after {
    animation: revealTTB 1s 0.6s ease;
}

@keyframes revealBTU {
    0% {
        height: 0;
        bottom: 0;
    }

    65% {
        height: 100%;
        bottom: 0;
    }

    100% {
        height: 0;
        bottom: 100%;
    }
}

@keyframes revealTTB {
    0% {
        height: 0;
        top: 0;
    }

    65% {
        height: 100%;
        top: 0;
    }

    100% {
        height: 0;
        top: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}