// hero
.hero {
    padding: 40px 0 0 0;
    background: url('../img/main/hero-bg.png') no-repeat center / 100% auto
}

.hero__wrapper {
    position: relative;
    padding-bottom: 70px;
}

.hero__title {
    margin: 0;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    font-weight: 400;

    .hero__redtext,
    .hero__smspace,
    .hero__lgspace {
        display: block;
    }
}

.hero__redtext {
    color: $accentmain;
}

.hero__smspace {
    padding-left: 25%;
}

.hero__lgspace {
    padding-left: 50%;
}

.hero__thumbpic {
    width: 340px;
    height: 206px;
    position: absolute;
    right: 0;
    top: -5px;
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        vertical-align: top;
    }
}

.contact-link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: $neutral900;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    transition: 0.3s;
    display: inline-block;
    padding: 0 66px 0 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        color: $accent80;
    }

    &.white {
        color: #F3F1F0;
    }
}

.hero__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;

    p {
        max-width: 240px;
        margin: 0;
        text-transform: uppercase;
        color: $neutral70;
        font-weight: 500;


        a {
            color: $accentmain;

        }

        a {
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                color: $accent80;
            }
        }
    }
}

.hero__mainpic {
    position: relative;
    overflow: hidden;
    height: 420px;

    img,
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

// hero end

// benefits
.benefits {
    .col-md-6 {
        border-bottom: 1px solid $neutral30;

        &:nth-child(even) {
            .benefits__item {
                padding-right: calc((100vw - 1420px) / 2);
            }

        }

        &:nth-child(odd) {
            .benefits__item {
                padding-left: calc((100vw - 1420px) / 2);
                border-right: 1px solid $neutral30;
            }
        }

        &:nth-last-child(-n + 2) {
            border-bottom: none;
        }

    }
}

.benefits__item {
    text-align: center;
    min-height: 244px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;

    p {
        font-size: 30px;
        line-height: 130%;
        font-weight: 500;
        text-transform: uppercase;


    }
}

// clients
.clients {
    background: #4A4A4A;
    position: relative;
    overflow: hidden;
    padding-bottom: 250px;
}

.clients__leftcol {
    width: 100%;
    max-width: 36%;
    flex: 0 0 36%;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 431px;
        background: $neutral900;
        height: calc(100% - 430px + 249px);
        width: 100%;
        border-radius: 8px 8px 8px 0;
    }
}

.clients__rightcol {
    width: 100%;
    max-width: 64%;
    flex: 0 0 64%;
    padding-left: 1px;
    padding-right: calc((100vw - 1420px) / 2);
    position: relative;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        right: -1px;
        background: $neutral900;
        height: calc(50% + 124px);
        width: calc((100vw - 1421px) / 2);
        border-radius: 8px 0 0 8px;
    }

    &::after {
        top: 0;
    }

    &::before {
        top: calc(50% + 126px);
    }
}

a.gridbox::before,
a.gridbox::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #f07020;
    /* помаранчевий */
    transition: transform 0.5s ease;
    z-index: 0;
}

a.gridbox::before {
    left: 0;
    transform: translateY(-100%);
    /* зверху */
}

a.gridbox::after {
    right: 0;
    transform: translateY(100%);
    /* знизу */
}

a.gridbox:hover::before,
a.gridbox:hover::after {
    transform: translateY(0);
}

.gridbox {
    background: $neutral900;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;







    &.v1 {
        height: 430px;
        border-radius: 0 8px 8px 0;
        // padding-left: calc((100vw - 1420px) / 2);
    }

    &.v2 {
        height: 250px;
    }

    &.v3 {
        height: 109px;
        margin-top: 1px;
    }

    &.v4 {
        height: 368px;
        margin-top: 1px;
    }

    h2 {
        margin: 0;
        padding-top: 60px;
    }
}

a.gridbox {
    transition: 0.3s;
    text-decoration: none;
    color: #F3F1F0;
    font-size: 22px;
    line-height: 130%;
    position: relative;
    overflow: hidden;

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        // background: $accentmain;
    }
}

.gridbox__wrapper {
    position: relative;

    &.row {
        margin-left: -0.5px;
        margin-right: -0.5px;

        &>* {
            padding-left: 0.5px;
            padding-right: 0.5px;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 1px;
        top: calc(100% + 1px);
        background: $neutral900;
        height: 249px;
        width: calc(100% - 1px);
        border-radius: 8px;
    }
}

.clients__title {
    .title {
        text-transform: uppercase;
        color: $accentmain;
        font-size: 100px;
        font-weight: 500;
        line-height: 115%;
    }

    .descr {
        margin: 30px 0 0 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 22px;
        line-height: 130%;
        font-weight: 500;

    }
}

// -----------------------------------
// textslider - Працюючи з темп:
.workwithtemp {
    margin-top: -1px;
    position: relative;
    z-index: 1;

    .container {
        position: relative;
    }

    .title {
        font-size: 50px;
        color: #F3F1F0;
        line-height: 120%;
        text-transform: uppercase;
        // margin-bottom: 60px;
        position: absolute;
        margin-top: -100px;
        left: 20px;
    }
}

.textslider {
    height: 480px;
    position: relative;

    p {
        color: #fff;
        font-size: 40px;
        line-height: 130%;
        margin: 0;
        max-width: 940px;
    }

    .slide-content {
        padding: 40px 0 80px;
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.textslider__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.7);
    }
}

.swiper-pagination {
    &.linepag {
        display: flex;
        gap: 4px;
        width: 100%;
        margin-bottom: 40px;
    }

    &.linepag .swiper-pagination-bullet {
        flex: 1;
        height: 4px;
        border-radius: 10px;
        margin: 0 !important;
        background: $neutral50;
        opacity: 1;
        opacity: 0.5;
    }

    &.linepag .swiper-pagination-bullet-active {
        opacity: 1;
        background: #F3F1F0;

    }
}

// trust
.trust {
    padding: 130px 0;
    background: #FAF9F6;

    h2 {
        margin-bottom: 60px;
    }
}

.logoslider {
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
}

.logoslider__item {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #FAF9F6;
    border: 1px solid $neutral30;

    img {
        max-width: calc(100% - 100px);
        max-height: calc(100% - 40px);
    }

}

// advantage section
.advantage-sect {
    background-image: url(../img/main/squares.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.advantage-sect__content {
    .intro {
        margin-bottom: 60px;
        max-width: 700px;

        p {
            color: #fff;
        }
    }

}

.advantage-sect__item {
    margin-bottom: 30px;

    p {
        color: $neutral30;

        .highlighted {
            font-size: 40px;
            color: #FC4C01;

            &>* {
                line-height: 100%;
                margin-bottom: -3px;
            }
        }

        .orange-text {
            font-style: normal;
            font-weight: 500;
        }
    }
}



.advantage-sect__img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    img {
        width: 100%;
        vertical-align: top;

    }

    &.has-animation.animate-in:before {
        background-color: #D3D3D3;
    }
}

.infotext {
    margin-top: 40px;

    p {
        color: $neutral30;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 130%;
        font-weight: 500;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// objects

.objects {
    padding-bottom: 60px;

    .rightcol {
        padding-left: 50px;
    }
}

.objects__item {
    display: block;
    margin-bottom: 20px;

    a {
        text-decoration: none;
    }

    &.leftspace {
        padding-left: 120px;
    }

    h4 {
        text-transform: uppercase;
        color: $neutral70;
        font-size: 22px;
        line-height: 130%;
        font-weight: 500;
        margin-bottom: 15px;
        position: relative;
        padding-right: 40px;
        transition: 0.3s;
    }

    p {
        color: $neutral70;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    a:hover {
        .objects__item-img {
            img {
                transform: scale(1.05);
            }
        }

        h4 {
            color: $accentmain;
        }
    }
}

.objects__item-img {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 30px;

    &.img-lg {
        aspect-ratio: 4 / 3;
    }

    &.img-md {
        aspect-ratio: 1.78 / 1;
    }

    &.img-sm {
        aspect-ratio: 1.78 / 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transition: 1s;
    }
}

.bottsectbtn {
    text-align: center;
    margin-top: 30px;
}

// форма розрахуйнку
.consult {
    padding: 80px 0 85px;
    background: url('../img/main/consult-squares.png') no-repeat center / 100% auto
}

.consult .contact-link {
    font-family: "DexaPro", sans-serif;
}

.inputfield {
    input {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        background: #fff;
        border: 1px solid $neutral30;
        padding-left: 20px;
        padding-right: 20px;
        font-family: "DexaPro", sans-serif;
        font-size: 16px;
        transition: 0.3s;

        &::placeholder {
            color: $neutral50;
        }

        &:focus {
            border-color: $accentmain
        }
    }
}

// cta
.cta {
    h2 {
        margin: 0;

        .subtext {
            color: #F3F1F0;
            font-size: 16px;
            line-height: 150%;
            display: inline-block;
            max-width: 330px;
        }
    }
}

// about us - text section
.textsection {
    .imgwrap {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

    img {
        vertical-align: top;
        width: 100%;
    }
}

.textsection__content {
    max-width: 580px;

    p,
    li {
        color: $neutral70;
    }

    ul {
        padding-left: 30px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 130%;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 21px;
    }

    h6 {
        font-size: 16px;
    }
}

.benefits__item .orange-text,
.orange-text,
.highlighted {
    margin: 0 0.25em;
}

@media(max-width:1499.8px) {
    .hero__title {
        font-size: 80px;
    }

    .hero__thumbpic {
        height: 165px;
    }

    .hero__info {
        max-width: 550px;
    }

    .benefits__item p {
        font-size: 24px;
    }

    .benefits__item {
        min-height: 200px;
    }

    .logoslider__item {
        height: 180px;
    }

    .workwithtemp .title {
        font-size: 42px;
        margin-top: -80px;
    }

    .objects__item-img {
        margin-bottom: 20px;
    }





    .trust h2 {
        margin-bottom: 40px;
    }

    .benefits .col-md-6:nth-child(2n) .benefits__item,
    .clients__rightcol {
        padding-right: calc((100vw - 1300px) / 2);
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: calc((100vw - 1300px) / 2);
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        width: calc((100vw - 1301px) / 2);
    }

    .objects__item h4 {
        font-size: 21px;
    }
}

@media(max-width:1399.8px) {
    .hero__title {
        font-size: 70px;
        line-height: 130%;
    }

    .hero__info {
        max-width: 500px;
    }

    .hero__mainpic {
        height: 360px;
    }

    .clients {
        padding-bottom: 160px;
    }

    .clients__title .title {
        font-size: 80px;
        margin-bottom: 10px;
    }

    .gridbox.v2 {
        height: 200px;
    }

    .textslider {
        height: 400px;
    }

    .logoslider__item {
        height: 160px;
    }

    .consult .contact-link {
        font-size: 15px;
        font-weight: 500;
    }





    .trust {
        padding: 100px 0;
    }

    .clients__title .descr {
        font-size: 18px;
    }

    .infotext p {
        font-size: 20px;
    }

    .advantage-sect__item p span {
        font-size: 30px;
    }

    .workwithtemp .title,
    .textslider p {
        font-size: 36px;
    }

    .benefits .col-md-6:nth-child(2n) .benefits__item,
    .clients__rightcol {
        padding-right: calc((100vw - 1120px) / 2);
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: calc((100vw - 1120px) / 2);
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        width: calc((100vw - 1121px) / 2);
    }
}

@media(max-width:1199.8px) {

    .hero__title {
        font-size: 50px;
    }

    .hero__smspace {
        padding-left: 15%;
    }

    .hero__lgspace {
        padding-left: 35%;
    }

    .hero__thumbpic {
        height: 180px;
        width: 320px;
    }

    .hero__wrapper {
        padding-bottom: 50px;
    }

    .hero__info {
        margin-top: 15px;
        max-width: 570px;
    }

    .benefits__item {
        min-height: 160px;
        padding: 20px;
    }

    .gridbox.v2 {
        height: 150px;
    }

    .gridbox h2 {
        padding-top: 20px;
    }

    .clients__title .title {
        font-size: 60px;
    }

    .clients__title .descr {
        font-weight: 400;
    }

    .gridbox.v1 {
        height: 340px;
    }

    .clients__leftcol:after {
        height: calc(100% - 340px + 159px);
        top: 341px;
    }

    .gridbox__wrapper:after {
        height: 159px;
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        height: calc(50% + 79px);
    }

    .clients__rightcol:before {
        top: calc(50% + 80px);
    }

    .gridbox.v4 {
        height: 300px;
    }

    a.gridbox {
        font-size: 18px;
    }

    .textslider {
        height: 360px;
    }

    .advantage-sect__content .intro {
        margin-bottom: 30px;
    }

    .objects__item.leftspace {
        padding-left: 80px;
    }

    .cta h2 .subtext {
        font-size: 12px;
        max-width: 240px;
    }




    .benefits__item p {
        font-size: 21px;
    }

    .textslider p,
    .workwithtemp .title {
        font-size: 32px;
    }

    .benefits .col-md-6:nth-child(2n) .benefits__item,
    .clients__rightcol {
        padding-right: calc((100vw - 940px) / 2);
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: calc((100vw - 940px) / 2);
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        width: calc((100vw - 941px) / 2);
    }
}

@media(max-width:991.8px) {

    .hero__smspace,
    .hero__lgspace {
        padding-left: 0;
    }

    .hero__thumbpic {
        width: 35%;
    }

    .hero__title {
        width: 64%;
        font-size: 46px;
    }

    .hero__info {
        max-width: 100%;
    }

    .gridbox.v4 {
        height: 200px;
    }

    .clients__rightcol:after {
        display: none;
    }

    .clients__rightcol:before {
        height: calc(100% + 160px);
        top: 0;
    }

    .objects__item.leftspace {
        padding-left: 40px;
    }

    .consult {

        h2 {
            text-align: center;
        }

        .contact-link {
            margin-top: 30px;
        }
    }

    .cta {
        text-align: center;

        h2 {
            margin-bottom: 20px;

            br {
                display: none;
            }
        }

        .contact-link {
            margin-top: 30px;
        }
    }

    .cta h2 .subtext {
        max-width: 100%;
        font-size: 20px;
        margin-top: 10px;
    }

    .textsection__content {
        max-width: 100%;
    }











    .benefits .col-md-6:nth-child(2n) .benefits__item,
    .clients__rightcol {
        padding-right: calc((100vw - 700px) / 2);
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: calc((100vw - 700px) / 2);
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        width: calc((100vw - 701px) / 2);
    }
}

@media(max-width:767.8px) {

    .hero__thumbpic img {
        display: none;
    }

    .benefits__item {
        min-height: 120px;
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        border-right: none;

    }

    .benefits .col-md-6:nth-child(odd) {
        border-bottom: 1px solid #D3D3D3;
    }

    .clients__title .title {
        font-size: 50px;
    }

    .gridbox.v3 {
        height: 80px;
    }

    .gridbox.v4 {
        height: 160px;
    }

    .workwithtemp .title {
        margin-top: -60px;
    }

    .textslider p {
        font-size: 24px;

        br {
            display: none;
        }
    }

    .logoslider__item {
        height: 120px;
    }

    .logoslider__item img {
        max-width: calc(100% - 60px);
        max-height: calc(100% - 30px);
    }

    .hero__mainpic,
    .textslider {
        height: 300px;
    }

    .trust,
    .consult {
        padding: 70px 0;
    }

    .objects__item-img.img-lg,
    .objects__item-img.img-md,
    .objects__item-img.img-sm {
        aspect-ratio: 16 / 9;
    }

    .objects__item.leftspace {
        padding-left: 0;
    }

    .objects .rightcol {
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .inputfield {
        margin-bottom: 10px;
    }

    .hero__thumbpic  {
        display: none;
    }

    .hero__title {
        width: 100%;
    }


    .hero__mainpic {
        height: 280px;
    }
    .benefits .col-md-6:nth-child(2n) .benefits__item,
    .clients__rightcol {
        padding-right: calc((100vw - 520px) / 2);
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: calc((100vw - 520px) / 2);
    }

    .clients__rightcol:after,
    .clients__rightcol:before {
        width: calc((100vw - 521px) / 2);
    }

    .benefits .col-md-6 .benefits__item {
        padding-right: calc((100vw - 520px) / 2);
        padding-left: calc((100vw - 520px) / 2);
    }

}

@media(max-width:575.8px) {

    .hero {
        padding-top: 20px;
    }

    .hero__title {
        width: 100%;
    }

    .hero__info {
        flex-wrap: wrap;

        .contact-link {
            order: 2;
        }

        p {
            order: 1;
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 30px;
        }
    }

    .benefits__item {
        min-height: 100px;

        p {
            font-size: 18px;
        }
    }

    .clients__leftcol,
    .clients__rightcol {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .clients__leftcol:after,
    .clients__rightcol:before {
        display: none;
    }

    .gridbox.v1 {
        height: auto;
        min-height: 200px;
        border-radius: 0 0 8px 8px;
        margin-bottom: 1px;
    }

    .gridbox h2 {
        padding-top: 0;
    }

    .gridbox.v2 {
        height: auto;
        padding: 20px;
    }

    .clients {
        padding-bottom: 110px;
    }

    .swiper-pagination.linepag {
        margin-bottom: 20px;
    }

    .textslider .slide-content {
        padding: 40px 0;
    }

    .gridbox__wrapper:after {
        height: 114px;
        left: 0;
    }

    .trust h2 {
        margin-bottom: 20px;
    }

    .consult {
        padding-top: 40px;
    }

    .contact-link {
        font-size: 16px;
        padding-right: 44px;
    }

    .hero__info p {
        max-width: 300px;
        font-size: 15px;
    }




    // .consult,
    // .trust {
    //     padding: 50px 0;
    // }

    .hero__title {
        font-size: 42px;
    }

    .workwithtemp .title {
        font-size: 28px;
    }

    .textslider p {
        font-size: 21px;
    }

    .infotext p,
    .objects__item h4 {
        font-size: 18px;
    }

    .cta h2 .subtext {
        font-size: 16px;
    }

    .clients__rightcol {
        padding-right: 0;
        padding-left: 0;
    }

    .benefits .col-md-6:nth-child(2n) .benefits__item {
        padding-right: 12px;
    }

    .benefits .col-md-6:nth-child(odd) .benefits__item {
        padding-left: 12px;
    }


}

//  padding-right: calc((100vw - 1420px) / 2);